In [13]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [14]:
df_train = pd.read_csv("train.csv")
df_train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1923,0,0.5,1,7,0,46,0.5,191,1,...,767,1759,1489,10,9,3,1,1,1,1
1,633,1,2.2,0,0,1,49,0.1,139,8,...,529,1009,3560,11,1,16,1,1,1,2
2,1236,0,0.9,1,2,1,57,0.1,188,1,...,517,809,1406,14,12,20,1,0,1,0
3,781,0,1.1,0,2,0,38,0.4,198,5,...,304,1674,3508,13,8,5,0,0,1,3
4,1456,1,0.5,1,7,0,7,0.4,105,5,...,823,1104,1587,6,5,20,1,0,1,1

In [15]:
df_train.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [16]:
df_test = pd.read_csv("test.csv")
df_test.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [17]:
df_train['dt'] = df_train['sc_h'] * df_train['sc_w'] * df_train['m_dep']
df_test['dt'] = df_test['sc_h'] * df_test['sc_w'] * df_test['m_dep']

feature_columns = [0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 21]
label_columns = 20

In [18]:
df_train.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range', 'dt'],
      dtype='object')

In [19]:
X_train = df_train.iloc[:, feature_columns].values
y_train = df_train.iloc[:, label_columns].values

X_test = df_test.iloc[:, feature_columns].values
y_test = df_test.iloc[:, label_columns].values

In [20]:
def Normalize(X, y):
    minmax_scaler = MinMaxScaler()
    
    #X[:, 0] = minmax_scaler.fit_transform(X[:, 0].reshape(-1, 1)).ravel()
    #X[:, 2] = minmax_scaler.fit_transform(X[:, 2].reshape(-1, 1)).ravel()
    #X[:, 4] = minmax_scaler.fit_transform(X[:, 4].reshape(-1, 1)).ravel()
    #X[:, 6] = minmax_scaler.fit_transform(X[:, 6].reshape(-1, 1)).ravel()
    #X[:, 8:14] = minmax_scaler.fit_transform(X[:, 8:14])
    #X[:, 18] = minmax_scaler.fit_transform(X[:, 18].reshape(-1, 1)).ravel()
    return X, y

In [21]:
#X_train, y_train = Normalize(X_train, y_train)
#X_test, y_test = Normalize(X_test, y_test)

In [22]:
from sklearn.svm import SVC

classifier = SVC(C = 10, kernel='linear', verbose=True)
classifier.fit(X_train, y_train)

[LibSVM]

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=True)

In [23]:
predictions = classifier.predict(X_test)

from sklearn.metrics import accuracy_score

In [24]:
print("Accuracy_score:", accuracy_score(y_test, predictions))

Accuracy_score: 0.9825