# Bài 1: Hoàn thành notebook sau

### Bước  1. Import thư viện cần thiết

In [2]:
import pandas as pd

### Bước 2. Đọc dữ data từ url, sau đó gán cho tên biến là dataframe

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
dataframe = pd.read_csv(url,sep='\t')
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB
None

### Bước 3. In 10 dòng đầu tiên

In [4]:
print(dataframe.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Bước 4. Có bao nhiêu row?

In [70]:
len(dataframe)

4622

### Bước 5. Có bao nhiêu column trong dataset này đó là những column nào?

In [33]:
print(dataframe.columns)
print(len(dataframe.columns))

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
5

### Bước 6.Mặt hàng nào được bán chạy nhất?

In [39]:
vector = [i for i in dataframe['item_name']]
vector = list(set(vector))
max = 0
for i in vector:
    j = dataframe[dataframe['item_name'] == i]['quantity'].sum()
    if j > max:
        max = j
        name = i
print(name)
print(max)

Chicken Bowl
761

### Bước 7. Có tổng cộng bao nhiêu mặt hàng được bán?

In [26]:
vector = [i for i in dataframe['item_name']]
vector = list(set(vector))
len(vector)

50

### Bước 8. Có bao nhiêu sản phẩm có giá trị lớn hơn $10,00

In [81]:
vector = list(dataframe['item_price'])
vector1 = list(dataframe['item_name'])
vector2 = []
for i in range(len(vector)):
    if vector[i] > 10.00:
        vector2.append(vector1[i])
print(len(list(set(vector2))))

31

### Bước 9: Xem kiểu dữ liệu của mỗi cột

In [76]:
dataframe.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Bước 10: Tổng lợi nhuận thu được

In [69]:
vector = list(dataframe['item_price'])
vector1 = list(dataframe['quantity'])
for i in range(len(vector)):
    vector[i] = vector[i] * vector1[i]
print(sum(vector))

39237.020000000055