In [13]:
l = [1, 2, 3, 5]
l1 = [i**2 for i in l if i%2 != 0]
l1

[1, 9, 25]

In [14]:
l = [1, 2, 5, 15, 20, 45]
l1 = [i for i in l if i%3 ==0 & i%5 == 0]
l1

[15, 45]

In [15]:
l = [1, 2, 3, 5]
l = [i*2 for i in l]
l

[2, 4, 6, 10]

In [18]:
import math
def check(n):
    a = int (math.sqrt(n))
    if (a * a == n):
        return True;
    return False
l = [1, 2, 3, 4, 16, 9, 25, 5]
l = [i for i in l if check(i) == True]
l

[1, 4, 16, 9, 25]

In [19]:
def maxmin(l):
    return max(l), min(l)
maxmin(l)

(25, 1)

In [20]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l[0:2]

[1, 2]

In [21]:
l[4:7]

[5, 6, 7]

In [22]:
l[5:9]

[6, 7, 8, 9]

In [24]:
l[2:8]

[3, 4, 5, 6, 7, 8]

In [25]:
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
##map
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))
list(x)

[5, 6, 6]

In [28]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple')) 
list(x)

['appleorange', 'bananalemon', 'cherrypineapple']

In [29]:
##lambda
x = lambda a : a + 10
print(x(5))

15

In [30]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [31]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [34]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [35]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [36]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

22
33